.hed{
    color: rgb(148, 99, 155);
    font-family: sans-serif;
    padding-left: 10px;
}
.intut{
    width: 200px;
    height: 40px;
    border: none;
    border: 5px rgb(106, 30, 114);
    border-radius: 5px;
    margin: 5px;
    text-align: start;
    padding-left: 5px;
}

.btn1{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    background-color: rgb(148, 99, 155);
}